<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thyleaf.org">
    <head>
        <title>Footer </title>
    </head>
    <body class="bg-body">
        <div th:fragment="footer" class="container-fluid bg-dark">
            <br>
            <div class="container">
                <p class="text-light text-center text-small"> T-Done, your task list and tracker</p>
                <p class="text-light text-center text-small"> All rights reserved @copyright Ornélio Chaúque</p>
            </div>
            <br>
        </div>

    </body>
</html>