<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home Page</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    </head>
    <body>
    <div th:insert="header :: header"/>
        <h2 alt="Hello world">Welcome to TaskTrack</h2>
        <p th:text="${name}"/>
        <p>|this is my name ${name}|</p>
        <a th:href="@{/task/}" class="btn btn-primary btn-small">This is a link</a>

    <div th:insert="footer :: footer"/>
    </body>

</html>